[submodule "files/janus/ctrlp.vim"]
	path = files/janus/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "files/vim/bundle/fugitive.vim"]
	path = files/vim/bundle/fugitive.vim
	url = git://github.com/tpope/vim-fugitive.git
[submodule "files/vim/bundle/gundo.vim"]
	path = files/vim/bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim
[submodule "files/vim/bundle/nerdtree.vim"]
	path = files/vim/bundle/nerdtree.vim
	url = git://github.com/scrooloose/nerdtree.git
[submodule "files/vim/bundle/ctrlp.vim"]
	path = files/vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "files/vim/bundle/vim-sparkup"]
	path = files/vim/bundle/vim-sparkup
	url = http://github.com/bingaman/vim-sparkup.git
[submodule "files/vim/bundle/vim-less"]
	path = files/vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "files/vim/bundle/vim-colors-solarized"]
	path = files/vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "files/vim/bundle/tlib_vim"]
	path = files/vim/bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule "files/vim/bundle/vim-addon-mw-utils"]
	path = files/vim/bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "files/vim/bundle/vim-snipmate"]
	path = files/vim/bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "files/vim/bundle/vim-virtualenv"]
	path = files/vim/bundle/vim-virtualenv
	url = git://github.com/jmcantrell/vim-virtualenv.git
[submodule "files/vim/bundle/tagbar"]
	path = files/vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "files/vim/bundle/taglist"]
	path = files/vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "files/vim/bundle/syntastic"]
	path = files/vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "files/vim/bundle/jedi-vim"]
	path = files/vim/bundle/jedi-vim
	url = git://github.com/davidhalter/jedi-vim.git
[submodule "files/vim/bundle/vim-session"]
	path = files/vim/bundle/vim-session
	url = git://github.com/xolox/vim-session.git
[submodule "files/vim/bundle/vim-snippets"]
	path = files/vim/bundle/vim-snippets
	url = git://github.com/honza/vim-snippets.git
[submodule "files/files/nvim/bundle/Vundle.vim"]
	path = files/files/nvim/bundle/Vundle.vim
	url = git://github.com/gmarik/Vundle.vim.git
[submodule "files/nvim/bundle/Vundle.vim"]
	path = files/nvim/bundle/Vundle.vim
	url = git://github.com/gmarik/Vundle.vim.git
