[user]
	name = Tim Child
	email = tim@cantemo.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = /Users/tim/.gitignore
    editor = /usr/bin/vim

[alias]
    co = checkout
    st = status

[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
